// Colors
$green:#008000;
$white:#FFFFFF;
$black:#000000;
$dark-blue:#00008B;
$gainsboro:#DCDCDC;
$beige:#F5F5DC;
$darkseagreen:#8FBC8F;


// module total-amount-displayer
$total-amount-displayer-bgcolor: $green !default;
$total-amount-displayer-fontcolor: $white !default;
$total-amount-displayer-border:6%;


//module prod-card
$prod-card-btn-add-bgcolor:$dark-blue;
$prod-card-btn-add-fontcolor:$white;
$prod-card-btn-remove-bgcolor:$green;
$prod-card-btn-remove-fontcolor:$white;
$prod-card-details-bgcolor:$white;




 // Misc
 $percen-100: 100%;
$pixel-150:150px;
